@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
	Paul D Johnson<br />
	6220 Woodwinds CT<br />
	Mount Airy, MD 21771<br />
</address>

<address>
	<strong>Candidate:</strong>   <a href="mailto:paul@pdjmwj.com">Paul D Johnson</a><br />
	<strong>Manager:</strong> <a href="mailto:michgewjohnson@gmail.com">Michele W Johnson</a><br />
	<strong>Tresurer:</strong> <a href="mailto:michgewjohnson@gmail.com">David Pyatt</a>
</address>