@{
	ViewBag.Title = "Home Page";
}

<div class="backimage">
	<img src="~/Content/Images/Paul2.jpg" alt="Norway" style="width:100%;">
	<div class="top-left" style="font-size:300%;">We Can Do This Right, Together!</div>
</div>

<div class="jumbotron">
	<h1>Citizens for Paul Johnson</h1>
	<p class="lead">
		Bringing Dignity and Respect to Carroll County Governement
	</p>
	<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
	<div class="col-md-4">
		<h2>Getting started</h2>
		<p>
			dasdfasdf.
		</p>
		<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>Get more libraries</h2>
		<p>sdfasdf.</p>
		<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>Web Hosting</h2>
		<p>sdfasdfsad.</p>
		<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
	</div>
</div>